
db.sqlite3
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/__init__.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
tasks/__pycache__/forms.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/apps.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
smartgenius/__pycache__/wsgi.cpython-310.pyc
tasks/__pycache__/context_processors.cpython-310.pyc
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/0003_ejercicio_puntuacion_and_more.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
smartgenius/__pycache__/wsgi.cpython-310.pyc
tasks/migrations/__pycache__/0001_initial.cpython-310.pyc
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/0003_ejercicio_puntuacion_and_more.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/wsgi.cpython-310.pyc
tasks/migrations/__pycache__/0001_initial.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
tasks/__pycache__/context_processors.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/0003_ejercicio_puntuacion_and_more.cpython-310.pyc
db.sqlite3
tasks/__pycache__/admin.cpython-310.pyc
db.sqlite3
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
tasks/__pycache__/context_processors.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/migrations/__pycache__/0004_remove_ejercicio_tema.cpython-310.pyc
tasks/migrations/__pycache__/0005_remove_material_ejercicios_ejercicio_material.cpython-310.pyc
db.sqlite3
db.sqlite3
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
pdfs/pdfs/09._Radicales.pdf
pdfs/pdfs/2-medio-Matemática-PPT-n1-01-al-05-de-Junio.pdf
pdfs/pdfs/09._Radicales.pdf
pdfs/pdfs/NrosReales.pdf
pdfs/pdfs/potenciacion_I9UAGk6.pdf
pdfs/pdfs/Relaciones_de_Orden_en_los_Reales._Símbolos_y_Propiedades_0.pdf
pdfs/pdfs/Relaciones_de_Orden_en_los_Reales._Símbolos_y_Propiedades_0_N4hgV7l.pdf
tasks/migrations/0002_puntuacion_tiempo_empleado.py
tasks/migrations/0003_remove_puntuacion_tiempo_empleado.py
tasks/migrations/__pycache__/0002_puntuacion_tiempo_empleado.cpython-310.pyc
tasks/migrations/__pycache__/0003_remove_puntuacion_tiempo_empleado.cpython-310.pyc
pdfs/pdfs/09._Radicales.pdf
pdfs/pdfs/2-medio-Matemática-PPT-n1-01-al-05-de-Junio.pdf
pdfs/pdfs/NrosReales.pdf
pdfs/pdfs/potenciacion_I9UAGk6.pdf
pdfs/pdfs/Relaciones_de_Orden_en_los_Reales._Símbolos_y_Propiedades_0.pdf
pdfs/pdfs/Relaciones_de_Orden_en_los_Reales._Símbolos_y_Propiedades_0_N4hgV7l.pdf
tasks/migrations/0002_puntuacion_tiempo_empleado.py
tasks/migrations/0003_remove_puntuacion_tiempo_empleado.py
*.pyc
tasks/migrations/__pycache__/0003_remove_puntuacion_tiempo_empleado.cpython-310.pyc
