
db.sqlite3
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
