
db.sqlite3
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/__init__.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
tasks/__pycache__/forms.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/apps.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
smartgenius/__pycache__/wsgi.cpython-310.pyc
tasks/__pycache__/context_processors.cpython-310.pyc
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/0003_ejercicio_puntuacion_and_more.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
smartgenius/__pycache__/wsgi.cpython-310.pyc
tasks/migrations/__pycache__/0001_initial.cpython-310.pyc
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/0003_ejercicio_puntuacion_and_more.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/wsgi.cpython-310.pyc
tasks/migrations/__pycache__/0001_initial.cpython-310.pyc
tasks/migrations/__pycache__/__init__.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
tasks/__pycache__/context_processors.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/migrations/__pycache__/0002_alter_contenido_id_alter_material_id_and_more.cpython-310.pyc
tasks/migrations/__pycache__/0003_ejercicio_puntuacion_and_more.cpython-310.pyc
db.sqlite3
tasks/__pycache__/admin.cpython-310.pyc
db.sqlite3
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/admin.cpython-310.pyc
tasks/__pycache__/context_processors.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
smartgenius/__pycache__/settings.cpython-310.pyc
smartgenius/__pycache__/urls.cpython-310.pyc
tasks/__pycache__/models.cpython-310.pyc
tasks/__pycache__/views.cpython-310.pyc
tasks/migrations/__pycache__/0004_remove_ejercicio_tema.cpython-310.pyc
tasks/migrations/__pycache__/0005_remove_material_ejercicios_ejercicio_material.cpython-310.pyc
db.sqlite3
