{% extends 'profile.html' %}
{% block title %}Mi Avance{% endblock %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock css %}
{% block content %}
<span class="fw-bold fs-4" style="color: #fdb128">MI AVANCE</span>
<div class="d-flex">
    <div class="p-2 flex-fill" style="max-width: 200px">
        <select id="unidad-select" class="form-select" aria-label="Unidad select" onchange="cargarContenidos()">
            <option value="">Selecciona una unidad</option>
            {% for unidad in unidades %}
            <option value="{{ unidad.id }}">{{ unidad.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="p-2 flex-fill" style="max-width: 300px">
        <select id="contenido-select" class="form-select" aria-label="Contenido select" onchange="cargarTemas()">
            <option selected>Selecciona un contenido</option>
        </select>
    </div>

    <div class="p-2 flex-fill" style="max-width: 300px">
        <select id="tema-select" class="form-select" aria-label="Tema select">
            <option selected>Selecciona un tema</option>
        </select>
    </div>
    <div class="p-2 flex-fill" style="max-width: 200px">
        <button id="filtrar" type="button" class="btn btn-primary" onclick="filtrarPuntuacion()" disabled>Filtrar Puntuación</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tema</th>
            <th>Resultado corecto</th>
            <th>Puntaje</th>
            <th style="text-align: center;">Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% if puntuaciones %}{% for puntuacion in puntuaciones %}
        <tr>
            <td>{{ puntuacion.tema }}</td>
            <td style="text-align: center;">{{ puntuacion.preguntas_respondidas }}</td>
            <td style="text-align: center;">{{ puntuacion.puntaje }}</td>
            <td>{{ puntuacion.fecha }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>¡Aún no hay progreso! Cuando veamos alguna actividad, los progresos se mostrarán aquí.</p>
        {% endif %}
        <p id="mensaje-vacio" style="display: none;">¡Aún no hay progreso con el tema seleccionado! Cuando veamos alguna actividad, los progresos se mostrarán aquí.</p>
    </tbody>
</table>
{% block javascript %}
<script src="{% static 'js/avance.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
{% endblock %}

{% endblock %}