{% extends 'profile.html' %}
{% block title %}Registro Unidad{% endblock %}
{% load static %}

{% block content %}
<h2 class="dash-title">Registro de Unidad</h2>
<section class="row pl-5 w-100">
    <section class="form-group justify-content-center">
        <section class="col-sm-12">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegister-Unidad">
                <i class="fa fa-plus-circle"></i> Nuevo Unidad
            </button>
            <a href="{% url 'unidad' %}" class="btn btn-sm btn-refrescar ml-4"><i class="fa fa-sync-alt"></i>
                Refrescar</a>
        </section>
    </section>
</section>
<div class="tabla-unidad" style=" margin: 0 auto;">
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr style="text-align: center; padding: 4px 8px;">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider ">
            {% if unidad %}
            {% for u in unidad %}
            <tr style="text-align: left;"></tr>
            <th scope="row">{{ u.id }}</th>
            <td>{{ u.nombre }}</td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
                <button type="button" vid="{{ u.id }}" class="btnObtenerUnidad btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modalEdit-Unidad">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No se encontraron unidades registradas.</p>
            {% endif %}
        </tbody>
    </table>
    <div>
        {% include 'paginator.html' %}
    </div>
</div>
<!-- Modal Agregar -->
<div class="modal fade" id="modalRegister-Unidad" tabindex="-1" aria-labelledby="modalRegister-UnidadLabel"
    aria-hidden="true" cdata-backdrop="static" data-keyboard="false">
    <form method="POST" class="was-validated" id="formRgUnidad" novalidate>
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalRegister-UnidadLabel">Registro de Unidad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre de la Unidad</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="100">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>
                        Cancelar
                    </button>
                    <button type="submit" id="btnObtenerUnidad" class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i>
                        Guardar
                    </button>
                    <div id="alerta">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal Modificar -->
<div class="modal fade" id="modalEdit-Unidad" tabindex="-1" aria-labelledby="modalEdit-UnidadLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <form method="POST" class="was-validated" id="formModUnidad">
        {% csrf_token %}
        <input type="hidden" id="txtIdUnidad" name="txtIdUnidad">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalEdit-UnidadLabel">Editar Unidad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="txtEdUnidadNombre" class="form-label">Nombre de la
                            Unidad</label>
                        <input type="text" class="form-control" id="txtEdUnidadNombre" name="txtEdUnidadNombre"
                            maxlength="100">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Cancelar
                    </button>
                    <button type="submit" id="btnGuardarCmUnidad" class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i> Guardar cambios
                    </button>
                    <div id="alertaMod"></div> <!-- Aquí se mostrará el mensaje -->
                </div>
            </div>
    </form>
</div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'js/javascript.js'%}"></script>
{% endblock %}