{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <section class="seccion_2">
        <div class="contenedor-1_img">
            <img src="{% static '../static/img/Estudiante.png' %}" alt="" class="img-fluid">
        </div>
        <div class="contenedor-1_text">
            <h4>Para cada estudiante, <br>un Tutor Inteligente</h4>
            <p>Somos un proyecto sin fines de lucro con la misión de ofrecer educación
                gratuita de primer nivel a través de nuestro Tutor Inteligente basado
                en aprendizaje automático.</p>
        </div>
    </section>
    
</div>

{% endblock %}