{% extends 'profile.html' %}
{% block title %}Material{% endblock %}
{% load static %}


{% block content %}
<h2 class="dash-title">Listado de Material</h2>
<section class="row pl-5 w-100">
    <section class="form-group justify-content-center">
        <section class="col-sm-12">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegister-Material">
                <i class="fa fa-plus-circle"></i> Nuevo Material
            </button>
            <div id="alertContainer" class="position-absolute top-0 end-0"
                style="padding-top: 20px;padding-right: 10px;">
                <div id="alertMessage" class="alert" style="display: none;"></div>
            </div>
        </section>

    </section>
</section>
<div class="row">
    <div class="col-md-12 tabla-tema mt-3">
        <table class="table table-bordered">
            <thead class="table-primary fixed-column-width">
                <tr style="text-align: center; padding: 4px 8px;">
                    <th scope="col">Id</th>
                    <th scope="col">Material</th>
                    <th scope="col">Contenido</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if temas %}
                {% for u in temas %}
                <tr style="text-align: left;" data-id="{{ u.id }}">
                    <th scope="row">{{ u.id }}</th>
                    <td class="nombre-tema">{{ u.nombre }}</td>
                    <td class="contenido-tema">{{ u.contenido }}</td>
                    <td style="text-align: center;">
                        <a class="btn btn-danger" href="javascript:confi_delet_tema({{u.id}});"><i
                                class="fa fa-trash" aria-hidden="true"></i></a>
                        <button type="button" vid="{{ u.id }}" class="btnObtenerTema btn btn-warning"
                            data-bs-toggle="modal" data-bs-target="#modalEdit-Tema">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <p>No se encontraron contenido registradas.</p>
                {% endif %}
            </tbody>
        </table>
        <!-- Mostrar los enlaces de paginación -->
        <div class="d-flex justify-content-center mt-3" class="page-link">
            <div class="pagination">
                {% if tema.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ temas.previous_page_number }}">Anterior</a>
                </li>
                {% endif %}

                <li class="page-item"><a class="page-link">
                        Página {{ temas.number }} de {{ temas.paginator.num_pages }}</a></li>

                {% if tema.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ temas.next_page_number }}">Sigiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ temas.paginator.num_pages }}">Ultimo</a></li>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
