{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style-profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
</head>

<body>

    <input type="checkbox" id="panel-izquierdo-boton">
    <div class="panel-izquierdo">
        {% csrf_token %}
        <div class="panel-izquierdo-encabezados">
            <h3>
                <span class="fa-solid fa-square-root-variable"></span>
                <span> <a href="{% url 'inicio' %}">Smart Genius</a></span>
            </h3>
            <label for="panel-izquierdo-boton" class="fa-solid fa-bars"></label>
        </div>
        <div class="panel-izquierdo-opciones">
            <ul>
                {% if user.is_authenticated %}
                {% if perms.tasks.add_unidad %}
                <li>
                    <a class="btn-opcion {{ btnUnidad }}" href="{% url 'unidad' %}">
                        <span class="fas fa-clipboard-check"></span>
                        <span>Unidad</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contenido' %}">
                        <span class="fas fa-book-open"></span>
                        <span>Contenido</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'temas' %}">

                        <span class="fas fa-lightbulb"></span>
                        <span>Temas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'material' %}">
                        <span class="fas fa-file-alt"></span>
                        <span>Material</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'visualizar_reporte' %}">
                        <span class="fa-solid fa-clipboard-user"></span>
                        <span>Reportes Estudiantes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'aula_documento' %}">
                        <span class="fa-solid fa-file"></span>
                        <span>Reportes Contenido</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'contenido_alu' %}">
                        <span class="fa-solid fa-book-open"></span>
                        <span>Contenido</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'perfil_alu' %}">
                        <span class="fa-solid fa-user"></span>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'avance_alu' %}">
                        <span class="fa-solid fa-layer-group"></span>
                        <span>Mi Avance</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}">
                        <span class="fa-solid fa-right-from-bracket"></span>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="main-content">

        <header class="encabezados-contenido">
            <div class="search-wrapper">

            </div>

            <div class="social-icons">
                <span class="fa-solid fa-user"></span>
                <span>{% if user_email %}{{ user_email }}{% else %}Invitado{% endif %}</span>
            </div>
        </header>

        <main>

            {% block content %}
            {% endblock %}


        </main>

    </div>

    <script>
        $(document).ready(function () {
            // Verificar si hay elementos en la selección
            var headerContent = $('.main-content .encabezados-contenido').children().length;
            var mainContent = $('.main-content main').children().length;

            if (headerContent === 0 || mainContent === 0) {
                // Redirigir a la página de inicio
                window.location.href = '/inicio/';
            }
            $("li").click(function () {
                var link = $(this).find("a").attr("href");
                if (link) {
                    window.location.href = link;
                }
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/global.js'%}"></script>
    {% block js %}
    {% endblock js %}

</body>

</html>