{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'img/Logo-Page.png' %}" type="image/png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-profile.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&family=Playfair+Display:wght@500&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="panel-izquierdo">
        <div class="panel-izquierdo-encabezados">
            <h3>
                <span class="fa-solid fa-square-root-variable"></span>
                <span><a href="{% url 'perfil' %}" aria-label="Ir a la página de inicio">Smart Genius</a></span>
            </h3>
            <label for="panel-izquierdo-boton" class="fa-solid fa-bars" aria-label="Abrir menú"></label>
            <input type="checkbox" name="panel-izquierdo-boton" id="panel-izquierdo-boton">
        </div>
        <div class="panel-izquierdo-opciones">
            <ul>
                {% if user.is_authenticated %}
                {% if perms.tasks.add_unidad %}
                <li>
                    <a class="btn-opcion {{ btnUnidad }}" href="{% url 'unidad' %}" aria-label="Ir a la página de unidades">
                        <span class="fas fa-clipboard-check"></span>
                        <span>Unidad</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contenido' %}" aria-label="Ir a la página de contenido">
                        <span class="fas fa-book-open"></span>
                        <span>Contenido</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'temas' %}" aria-label="Ir a la página de temas">
                        <span class="fas fa-lightbulb"></span>
                        <span>Temas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'material' %}" aria-label="Ir a la página de material">
                        <span class="fas fa-file-alt"></span>
                        <span>Material</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'visualizar_reporte' %}" aria-label="Ir a la página de reportes de estudiantes">
                        <span class="fa-solid fa-clipboard-user"></span>
                        <span>Reportes Estudiantes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'aula_documento' %}" aria-label="Ir a la página de reportes de contenido">
                        <span class="fa-solid fa-file"></span>
                        <span>Reportes Contenido</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'contenido_alu' %}" aria-label="Ir a la página de contenido para alumnos">
                        <span class="fa-solid fa-book-open"></span>
                        <span>Contenido</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'perfil_alu' %}" aria-label="Ir a la página de perfil del alumno">
                        <span class="fa-solid fa-user"></span>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'avance_alu' %}" aria-label="Ir a la página de avance del alumno">
                        <span class="fa-solid fa-layer-group"></span>
                        <span>Mi Avance</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}" aria-label="Cerrar sesión">
                        <span class="fa-solid fa-right-from-bracket"></span>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/global.js'%}" type="application/javascript"></script>
</body>
</html>
