{% extends 'profile.html' %}
{% load static %}
{% block title %}Recomendación{% endblock %}
{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<link href="{% static 'css/album.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
{% csrf_token %}
<button type="button" class="btn btn-primary" id="openModalButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recomendación de videos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" id="modalVideoContainer">
                        <!-- Aquí se agregarán las tarjetas de video dinámicamente con JavaScript -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/video.js'%}"></script>
{% endblock js %}