{% extends 'profile.html' %}

{% block title %}Reporte{% endblock %}

{% block content %}
<h3>Reporte de estudiantes</h3>

<div class="row pl-5 w-100">
  <form method="get">
    <div class="form-group justify-content-center">
      <div class="col-sm-12">
        <label for="busqueda_estudiante">Filtrar por nombre de usuario:</label>
        <input type="text" required id="busqueda_estudiante" name="busqueda_estudiante"/>
        <button class="btn btn-primary">
          <i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-12 tabla-unidad mt-3">
    <table class="table table-bordered">
      <thead class="table-primary fixed-column-width">
        <tr class="encabezados-tabla">
          <th>Nº</th>
          <th>Nombre de usuario</th>
          <th>Tipo de Usuario</th>
          <th>Estado del Usuario</th>
        </tr>
      </thead>
      <tbody class="table-group-divider ">
        {% if page_obj %}
        {% for usuario in page_obj %}
        <tr class="cuerpo-tabla">
          <td>{{ forloop.counter }}</td>
          <td>{{ usuario.username }}</td>
          <td>Estudiante</td>
          <td>Activo</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>No se encontraron estudiantes registrados.</p>
      </tbody>
    </table>
    <!-- Mostrar los enlaces de paginación -->
    <div class="d-flex justify-content-center mt-3" class="page-link">
      <div class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
          {% endif %}

          <li class="page-item"><a class="page-link">
              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>

          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último</a></li>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}



{% endblock %}