{% extends 'base.html' %}
{% block title %}Inicio de Sesión{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock css %}
{% block content %}
<form action="/signin/" method="POST">
   <div class="container-fluid-signup">
      {% csrf_token %}
      <div class="container-form-signup">
         <div class="information">
            <div class="info-childs">
               <h2>¡¡ Bienvenido nuevamente !!</h2>
               <p>Si aún no tienes una cuenta por favor regístrate aquí</p>
               <a href="{% url 'Registro' %}">
                  <span>Registrarse</span>
               </a>
            </div>
         </div>
         <div class="form-information">
            <div class="form-information-childs">
               <h2>Iniciar Sesión</h2>
               <div class="form-div">
                  <label>
                     <i class="fa-regular fa-envelope" style="color: #fdb128;"></i>
                     <input type="email" name="username" id="username" placeholder="Correo Electronico"
                        autocomplete="off">
                  </label>
                  <label>
                     <i class="fa-solid fa-unlock-keyhole" style="color: #fdb128;"></i>
                     <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off">
                  </label>
                  {% if error %}
                  <p class="error-message">{{ error }}</p>
                  {% endif %}
                  <button>
                     Iniciar Sesión
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
{% endblock %}
{% endblock %}