<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style-profile.css' %}">
<link rel="stylesheet" href="{% static 'css/style-tema-alu.css' %}">

<head>
    <link rel="icon" href="{% static '../static/img/Logo-Page.png' %}" type="image/png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Contenido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
</head>

<body>

    <input type="checkbox" id="panel-izquierdo-boton">
    <div class="panel-izquierdo">
        {% csrf_token %}
        <div class="panel-izquierdo-encabezados">
            <h3>
                <span class="fa-solid fa-square-root-variable"></span>
                <span> <a href="{% url 'inicio' %}">Smart Genius</a></span>
            </h3>
            <label for="panel-izquierdo-boton" class="fa-solid fa-bars"></label>
        </div>
        <div class="panel-izquierdo-opciones">
            <ul>
                {% if user.is_authenticated %}
                {% if perms.tasks.add_unidad %}
                <li>
                    <a class="btn-opcion {{ btnUnidad }}" href="{% url 'unidad' %}">
                        <span class="fas fa-clipboard-check"></span>
                        <span>Unidad</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contenido' %}">
                        <span class="fas fa-book-open"></span>
                        <span>Contenido</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'temas' %}">

                        <span class="fas fa-lightbulb"></span>
                        <span>Temas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'material' %}">
                        <span class="fas fa-file-alt"></span>
                        <span>Material</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'visualizar_reporte' %}">
                        <span class="fa-solid fa-clipboard-user"></span>
                        <span>Reportes Estudiantes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'aula_documento' %}">
                        <span class="fa-solid fa-file"></span>
                        <span>Reportes Contenido</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'contenido_alu' %}">
                        <span class="fa-solid fa-book-open"></span>
                        <span>Contenido</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'perfil_alu' %}">
                        <span class="fa-solid fa-user"></span>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'avance_alu' %}">
                        <span class="fa-solid fa-layer-group"></span>
                        <span>Mi Avance</span>
                    </a>
                </li>
                <!--<li>
                    <a href="{% url 'recomendacion' %}">
                        <span class="fa-solid fa-layer-group"></span>
                        <span>Recomendacion</span>
                    </a>
                </li>-->
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}">
                        <span class="fa-solid fa-right-from-bracket"></span>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="main-content">

        <header class="encabezados-contenido">
            <div class="search-wrapper">

            </div>

            <div class="social-icons me-4">
                <span class="fa-solid fa-user"></span>
                <span>{% if user_email %}{{ user_email }}{% else %}Invitado{% endif %}</span>
            </div>
        </header>

        <main>

            <div>
                <span class="fw-bold fs-4" style="color: #fdb128">TEMAS</span>
            </div>
            <span id="name" style="display: none;">{% if user_email %}{{ user_username }}{% else %}Invitado{% endif %}</span>
            {% if temas %}
            <div class="row">
                <div class="btn-group mt-2 col-4">
                    <button type="button" class="btn-white dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span>Seleccione un tema</span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for tema in temas %}
                        <li><a class="dropdown-item btn-tema" id="{{tema.id}}" href="#">{{tema.nombre}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0">
                        <button type="button" id="atras" class="btn btn-outline-secondary">
                            <i class="fa-solid fa-arrow-left-long"></i>
                            Atrás
                        </button>
                    </div>
                </div>
                <script>
                    document.getElementById('atras').addEventListener('click', function () {
                        window.history.back();
                    });
                </script>

            </div>

            <div id="viewText" class="col-8 text-center w-100 mt-3"></div>
            <div>
                <div class="rounded mt-2 border-gray">
                    <div class="row m-3">
                        <div class="list-group col-md-3" id="list-tab" role="tablist">
                            <a href="#list-home" class="list-group-item list-group-item-action active"
                                id="list-home-list" data-bs-toggle="list" role="tab" aria-controls="list-home">
                                <span>Contenido</span>
                            </a>
                            <a href="#list-profile" class="list-group-item list-group-item-action"
                                id="list-profile-list" role="tab" data-bs-toggle="list" aria-controls="list-profile">
                                <span>Recursos</span>
                            </a>
                            <a href="#list-questions" class="list-group-item list-group-item-action"
                                id="list-questions-list" role="tab" data-bs-toggle="list"
                                aria-controls="list-questions">
                                <span>Práctica</span>
                            </a>
                            <div class="d-flex justify-content-center my-3">
                                <img style="width: 150px; height: 150px;"
                                    src="{% static '../static/img/notebook-class.svg' %}">
                            </div>
                        </div>
                        <div class="border-gray col-md-9 rounded h-auto">
                            <div class="tab-content w-100 h-100">
                                <!-- Visor PDF -->
                                <div class="tab-pane fade show active h-100" id="list-home" role="tabpanel"
                                    aria-labelledby="list-home-list">
                                    <iframe id="pdfViewer" class="w-100 h-100 rounded" src="" frameborder="0"></iframe>
                                </div>

                                <!-- Reproductor de video -->
                                <div class="tab-pane fade w-100 h-100" id="list-profile" role="tabpanel"
                                    aria-labelledby="list-profile-list">
                                    <div class="d-flex justify-content-center align-items-center h-100">
                                        <iframe class="rounded" id="videoViewer" width="600" height="350" src=""
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>

                                <!-- Ejercicios planteados -->
                                <div class="tab-pane fade show h-100 rounded panel mb-2" id="list-questions"
                                    role="tabpanel" aria-labelledby="list-questions-list">
                                    <div
                                        class="w-100 h-100 d-inline-flex flex-column justify-content-center align-items-center gap-2">
                                        <div class="p-1 text-black fw-bold" id="puntaje"></div>
                                        <div class="position-relative bg-white rounded w-75 p-1">
                                            <div class="opacity-25 text-start" id="categoria">
                                            </div>
                                            <div class="position-absolute opacity-25 text-black" id="numero"></div>
                                            <div class="p-1 fw-bold" id="pregunta"></div>
                                        </div>
                                        <div class="opc rounded" id="btn1" onclick="oprimir_btn(0)"></div>
                                        <div class="opc rounded" id="btn2" onclick="oprimir_btn(1)"></div>
                                        <div class="opc rounded" id="btn3" onclick="oprimir_btn(2)"></div>
                                        <div class="opc rounded" id="btn4" onclick="oprimir_btn(3)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0">
                        <button type="button" id="atras" class="btn btn-outline-secondary">
                            <i class="fa-solid fa-arrow-left-long"></i>
                            Atrás
                        </button>
                    </div>
                </div>
                <script>
                    document.getElementById('atras').addEventListener('click', function () {
                        window.history.back();
                    });
                </script>
            </div>
            <div class="ilustracion d-flex justify-content-center align-items-center mt-5">
                <img style="width: 200px; height: 200px;" src="{% static '../static/img/not-data.svg' %}">
            </div>
            <p class="text-center mt-3 fw-bold fs-6" style="color: #fdb128">
                No se encontraron resultados.
            </p>
            {% endif %}

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">¡Recomendación Importante!</h5>
                        </div>
                        <div class="modal-body">
                            <p>¡Hola! ¡Te sugerimos revisar los videos recomendados para obtener información adicional
                                que podría ayudarte a resolver los ejercicios! Una nueva perspectiva puede marcar la
                                diferencia. ¡Échales un vistazo y vuelve cuando estés listo para resolver los
                                ejercicios!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" id="openModalButton" data-bs-toggle="modal"
                                data-bs-target="#videosModal"><i class="fa-solid fa-play"></i>Ver Videos</button>
                            <button type="button" class="btn btn-danger" id="cancelarModalButton"> <i
                                    class="fa-solid fa-ban"></i>
                                Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="videosModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Recomendación de videos</h5>
                            <button type="button" class="btn-close" id="close"></button>
                        </div>
                        <div class="modal-body video">
                            <div class="container">
                                <div class="row" id="modalVideoContainer">
                                    <!-- Aquí se agregarán las tarjetas de video dinámicamente con JavaScript -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>

    <script>
        $(document).ready(function () {
            // Verificar si hay elementos en la selección
            var headerContent = $('.main-content .encabezados-contenido').children().length;
            var mainContent = $('.main-content main').children().length;

            if (headerContent === 0 || mainContent === 0) {
                // Redirigir a la página de inicio
                window.location.href = '/inicio/';
            }
            $("li").click(function () {
                var link = $(this).find("a").attr("href");
                if (link) {
                    window.location.href = link;
                }
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/global.js'%}"></script>
    <script src="{% static 'js/tema_alumno.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
</body>

</html>