{% extends 'profile.html' %}
{% block title %}Tema{% endblock %}
{% load static %}

{% block content %}
{% csrf_token %}
<h2 class="dash-title">Listado de Tema</h2>
<section class="row pl-5 w-100">
    <section class="form-group justify-content-center">
        <section class="col-sm-12">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalRegister-Tema">
                <i class="fa fa-plus-circle"></i> Nuevo Tema
            </button>
            <div id="alertContainer" class="position-absolute top-0 end-0"
                style="padding-top: 20px;padding-right: 10px;">
                <div id="alertMessage" class="alert" style="display: none;"></div>
            </div>
        </section>

    </section>
</section>
<div class="row">
    <div class="col-md-12 tabla-tema mt-3">
        <table class="table table-bordered">
            <thead class="table-primary fixed-column-width">
                <tr style="text-align: center; padding: 4px 8px;">
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Contenido</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if temas %}
                {% for u in temas %}
                <tr style="text-align: left;" data-id="{{ u.id }}">
                    <th scope="row">{{ u.id }}</th>
                    <td class="nombre-tema">{{ u.nombre }}</td>
                    <td class="contenido-tema">{{ u.contenido }}</td>
                    <td style="text-align: center;">
                        <a class="btn btn-danger" href="javascript:confi_delet_tema({{u.id}});"><i
                                class="fa fa-trash" aria-hidden="true"></i></a>
                        <button type="button" vid="{{ u.id }}" class="btnObtenerTema btn btn-warning"
                            data-bs-toggle="modal" data-bs-target="#modalEdit-Tema">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <p>No se encontraron contenido registradas.</p>
                {% endif %}
            </tbody>
        </table>
        <!-- Mostrar los enlaces de paginación -->
        <div class="d-flex justify-content-center mt-3" class="page-link">
            <div class="pagination">
                {% if temas.has_previous %}
                {% comment %} <li class="page-item"><a class="page-link" href="?page=1">1</a></li> {% endcomment %}
                <li class="page-item"><a class="page-link" href="?page={{ temas.previous_page_number }}">Anterior</a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link fw-bold">
                        Página {{ temas.number }} de {{ temas.paginator.num_pages }}
                    </a>
                </li>

                {% if temas.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ temas.next_page_number }}">Siguiente</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ temas.paginator.num_pages }}">Ultimo</a></li>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar -->
<div class="modal fade" id="modalRegister-Tema" tabindex="-1" aria-labelledby="modalRegister-TemaLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <form method="POST" class="was-validated" id="formRgTema" novalidate>
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTema-ContenidoLabel">Registro de Contenido</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="restablecer()"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nombre del Tema</label>
                        <input type="text" class="form-control" id="nombreTema" name="nombreTema" maxlength="100"
                            required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Seleccionar contenido</label>
                        <select class="form-select" aria-label="Default select example" id="selectRegisterTema"
                            required>
                        </select>
                        <div id="alertContainer" style="padding-top: 20px;padding-right: 10px;">
                            <div id="alertMessageRegister" class="alert" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" data-bs-dismiss="modal"
                        onclick="restablecer()">
                        <i class="fa fa-ban"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i>
                        Guardar
                    </button>
                    <div id="alerta">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Modificar -->
<div class="modal fade" id="modalEdit-Tema" tabindex="-1" aria-labelledby="modalEdit-TemaLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <form method="POST" class="was-validated" id="formModTema">
        {% csrf_token %}
        <input type="hidden" id="txtIdTema" name="txtIdTema">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalEdit-TemaLabel">Editar Contenido</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="restablecer()"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nombre del Tema</label>
                        <input type="text" class="form-control" id="nombreTemaModi" name="nombreTemaModi"
                            maxlength="100" required>
                    </div>
                    <div class="mb-3">
                        <label for="selectRegisterTemaModi" class="form-label">Seleccionar contenido</label>
                        <select class="form-select" aria-label="Default select example" id="selectRegisterTemaModi"
                            name="selectRegisterTemaModi" required>
                        </select>
                        <div id="alertContainer" style="padding-top: 20px;padding-right: 10px;">
                            <div id="alertMessageModif" class="alert" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" data-bs-dismiss="modal"
                        onclick="restablecer()">
                        <i class="fa fa-ban"></i> Cancelar
                    </button>
                    <button type="submit" id="btnGuardarCmUnidad" class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i> Guardar cambios
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

<!--Modal Eliminar-->
<div class="modal fade" id="modalDelet" tabindex="-1" aria-labelledby="modalDeletLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <form class="was-validated" id="formDeletTema">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeletLabel">Eliminar Tema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body" id="modalContenido">
                    <div class="mb-3">
                        <p>¿Estás seguro de que deseas eliminar este tema?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" data-bs-dismiss="modal">
                        <i class="fa fa-ban"></i>
                        Cancelar
                    </button>
                    <button type="submit" onclick='delete_tema(" + idTema + ")' class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i>
                        Aceptar
                    </button>
                    <div id="alerta">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/tema.js'%}"></script>
<script src="{% static 'js/contenido.js'%}"></script>
<script src="{% static 'js/unidad.js'%}"></script>
{% endblock %}