{% extends 'profile.html' %}
{% load static %}
{% block title %}Contenido{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style-tema-alu.css' %}">
{% endblock css %}

{% block content %}
<div>
    <span class="fw-bold fs-4" style="color: #fdb128">TEMAS</span>
</div>

{% comment %} Esquema de los botones {% endcomment %}
{% comment %} {% if temas %}
<div class="btn-group d-flex flex-wrap gap-2 mt-3" role="group" aria-label="Basic radio toggle button group">
    {% for tema in temas %}
    <button class="btn btn-outline-primary rounded-2 btn-tema" name="btn-{{tema.id}}" id="{{tema.id}}">
        <span>{{tema.nombre}}</span>
    </button>
    {% endfor %}
</div> {% endcomment %}

{% if temas %}
<div class="btn-group mt-2">
    <button type="button" class="btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span>Seleccione un tema</span>
    </button>
    <ul class="dropdown-menu">
        {% for tema in temas %}
        <li><a class="dropdown-item btn-tema" id="{{tema.id}}" href="#"><span>{{tema.nombre}}</span></a></li>
        {% endfor %}
    </ul>
</div>

{% comment %} Estructura del contenido por temas {% endcomment %}
<div class="rounded mt-4 border-gray">
    <div class="row m-3">
        <div class="list-group col-3">
            <a href="#list-home" class="enlace list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" role="tab" aria-controls="list-home">
                <span>Recursos</span>
            </a>
            <a href="#list-profile" class="enlace list-group-item list-group-item-action" role="tab" aria-controls="list-profile">
                <span>Contenido</span>
            </a>
            <a href="#" class="enlace list-group-item list-group-item-action">
                <span>Práctica</span>
            </a>
            <div class="d-flex justify-content-center mt-3">
                <img style="width: 150px; height: 150px;" src="{% static '../static/img/notebook-class.svg' %}">
            </div>
        </div>
        <div class="border-gray col-9 rounded">
            <div class="tab-content h-100">
                <!-- Visor PDF -->
                <div class="tab-pane fade show active h-100" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <iframe id="pdfViewer" class="w-100 h-100 rounded" src="" frameborder="0"></iframe>
                </div>

                <!-- Reproductor de video -->
                <div class="tab-pane fade h-100" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <iframe id="youView" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="ilustracion d-flex justify-content-center align-items-center mt-5">
    <img style="width: 200px; height: 200px;" src="{% static '../static/img/not-data.svg' %}">
</div>
<p class="text-center mt-3 fw-bold fs-6" style="color: #fdb128">
    No se encontraron resultados.
</p>
{% endif %}



{% endblock %}

{% block js %}
<script src="{% static 'js/tema_alumno.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>

{% endblock js %}