@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #004aad;
    --main-colo2:#5DE0E6;
    --color-dark: #1D2231;
    --text-orange: #fcab4f;
    --text-black: #0d0f14;
    --text-white:#fff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#panel-izquierdo-boton {
    display: none;
}
.panel-izquierdo {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: linear-gradient(45deg,#53CCD1,#286CC6);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}

.panel-izquierdo li {
    padding: 1rem;
    margin: 5px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    list-style-type: none;
}

.panel-izquierdo-encabezados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.panel-izquierdo-opciones {
    padding: 1rem;
}

.panel-izquierdo-opciones li:hover{
    background: var(--text-orange);
}

.panel-izquierdo a {
    color: #fff;
    font-size: .9rem;
    text-decoration: none;
}

.panel-izquierdo a span:last-child {
    padding-left: .6rem;
}

#panel-izquierdo-boton:checked ~ .panel-izquierdo {
    width: 60px;
}

#panel-izquierdo-boton:checked ~ .panel-izquierdo .panel-izquierdo-encabezados h3 span,
#panel-izquierdo-boton:checked ~ .panel-izquierdo li span:last-child {
    display: none;
}

#panel-izquierdo-boton:checked ~ .panel-izquierdo .panel-izquierdo-encabezados,
#panel-izquierdo-boton:checked ~ .panel-izquierdo li {
    display: flex;
    justify-content: center;
}

#panel-izquierdo-boton:checked ~ .main-content {
    margin-left: 60px;
}

#panel-izquierdo-boton:checked ~ .main-content .encabezados-contenido {
    left: 60px;
    width: calc(100% - 60px);
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

.encabezados-contenido {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
    .panel-izquierdo {
        width: 60px;
        z-index: 150;
    }

    .panel-izquierdo .panel-izquierdo-encabezados h3 span,
    .panel-izquierdo li span:last-child {
        display: none;
    }

    .panel-izquierdo .panel-izquierdo-encabezados,
    .panel-izquierdo li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content .encabezados-contenido {
        left: 60px;
        width: calc(100% - 60px);
    }
    
    #panel-izquierdo-boton:checked ~ .panel-izquierdo {
        width: 240px;
    }

    #panel-izquierdo-boton:checked ~ .panel-izquierdo .panel-izquierdo-encabezados h3 span,
    #panel-izquierdo-boton:checked ~ .panel-izquierdo li span:last-child {
        display: inline;
    }

    #panel-izquierdo-boton:checked ~ .panel-izquierdo .panel-izquierdo-encabezados {
        display: flex;
        justify-content: space-between;
    }
    
    #panel-izquierdo-boton:checked ~ .panel-izquierdo li {
        display: block;
    }

    #panel-izquierdo-boton:checked ~ .main-content {
        margin-left: 60px;
    }

    #panel-izquierdo-boton:checked ~ .main-content .encabezados-contenido {
        left: 60px;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

